body{
    background-image: url("https://kseeker5.github.io/wallpapers/images/wallpapers/destiny2/Destiny%202%20-%20Traveler's%20Shard%20(Night).png");
}
.left{
    text-align: left;
}
.column {
    float: left;
    padding: 5px;
}